# See https://help.github.com/ignore-files/ for more about ignoring files.
# phpstorm project files
.idea

# netbeans project files
nbproject

# vscode project files
.vscode
.history

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# dependencies
/node_modules
wp-config.php
local-xdebuginfo.php
package-lock.json
style.css.map
/mysql
.env
/wp-content/uploads/wc-logs/
/wp-content/themes/onix_theme/node_modules/
CHANGELOG.txt
COMMITS.txt
